[user]
	name	=	Umayr Shahid
	email	=	email@me.com

[core]
	autocrlf	=	true
	legacyheaders	=	false # >git 1.5
	quotepath	=	false
	pager		=	less -r
	# if ? doesn’t work, try: pager = less -+$LESS -FRX

[color]
	ui		=	auto
	interactive	=	auto

[alias]
	s	=	status
	a	=	!git add . && git status
	au	=	!git add -u . && git status
	aa	=	!git add . && git add -u . && git status
	c	=	commit
	cm	=	commit -m
	ca	=	commit --amend # careful
	ac	=	!git add . && git commit
	acm	=	!git add . && git commit -m
	l	=	log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
	d	=	diff --color-words
	dh	=	diff --color-words head
	st	=	status -sb
	plm	=	pull origin master
	pld	=	pull origin develop
	psm	=	push origin master
	psd	=	push origin develop
	ls	=	log --pretty=format:\"%C(yellow)%h%Cred%d %Creset%s%Cgreen [%cn]\" --decorate
	ll	=	log --pretty=format:\"%C(yellow)%h%Cred%d %Creset%s%Cgreen [%cn]\" --decorate --numstat
	ld	=	log --pretty=format:\"%C(yellow)%h %C(magenta)%ad% %Cred%d %Creset%s%Cgreen [%cn]\" --decorate --date=relative
	alias	=	config --get-regexp ^alias\\.
